---
layout: default
---

<!-- Begin Post -->
<div class="post">
	<!-- Begin Info -->
	<div class="info">
        <!-- Begin Date -->
        <div class="date">
            <div class="day">{{ page.date | date: "%d" }}</div>
            <div class="month">{{ page.date | date: "%b" }}</div>
        </div>
        <!-- End Date -->
	
        <!-- Begin Meta -->
        <div class="meta">
            <h1 class="title"><a href="{{ page.url }}">{{ page.title }}</a></h1>
        </div>
	<!-- End Meta -->
	</div>
	<div class="clear"></div>
	<!-- End Info -->	
	<div id="content">
        {{content }}
    </div>	
</div>
<!-- End Post -->
